@font-face {
    font-family: "FiracodeRegular"; 
    src: url("../font/FiraCode-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "FiracodeRegular";
    font-weight: 100;
}

:root {
    --primary: #607B96;
    --secondary: #1E2D3D;
    --background: #011627;
    --headerFooterHeight: 60px;
    --mainHeight: calc(100vh - var(--headerFooterHeight) * 2);
    --contentMargin: calc( (var(--mainHeight) - var(--contentHeight)) / 2 );
    --contentHeight: 600px;
    --gameHeight:500px;
    --gameElementHeight:440px;
    --gamePadding:calc((var(--gameHeight) - var(--gameElementHeight)) / 2 );
}

header,footer {
    width: 100vw;
    justify-content: space-between;
    height: var(--headerFooterHeight);
    line-height: 47px;
    border: var(--secondary) 2px solid;
    color: var(--primary);
    background-color: var(--background);
}

header,footer,.upper-menu {
    display: flex;
    flex-direction: row;
}

.button,.name,.social div {
    border-right: var(--secondary) 2px solid;
}

.button,.button-contact,.github {
    width: 150px;
    text-align: center;
}

.button {
    transition: border-color 0.5s, color 0.5s;
    color: var(--primary);
    text-decoration: none;
}

.active {
    border-bottom: #FEA55F 2px solid;
    color: white;
}

.button:hover {
    border-bottom: #FEA55F 2px solid;
    color: white;
}

.name {
    width: 240px;
    padding:0 10px;
}

.button-contact,.github {
    border-left: var(--secondary) 2px solid;
}

main {
    position: relative;
    background-color: var(--background);
    height: var(--mainHeight);
    padding-top: var(--contentMargin);
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: var(--contentMargin);
    width: 1300px;
    height: var(--contentHeight);
}

.left-template {
    padding: 75px 0;
    justify-content: space-around;
    height: 100%;
}

.personal-info,.github-info,.left-template {
    display: flex;
    flex-direction: column;
}

.github-info {
    line-height: 35px;
}

.body-text {
    font-size: 18px;
    color: white;
    font-weight: 100;
}

.headline-text {
    font-size: 62px;
    color: white;
    font-weight: 100;
}

.subheadline-text {
    font-size: 32px;
    color: #4D5BCE;
    font-weight: 100;
}

.label {
    font-size: 16px;
    color: white;
}

.comment {
    color: #607B96;
}

.type-of-var {
    color: #4D5BCE;
}

.name-of-var {
    color: #43D9AD;
}

.string {
    color: #E99287;
}

.game {
    position: relative;
    margin-top: calc((var(--contentHeight) - 500px) / 2 );
    background: linear-gradient(140deg, rgba(23, 85, 83, 100%), rgba(67, 217, 173, 13%));
    width: 600px;
    height: var(--gameHeight);
    border: #0C1616 2px solid;
    border-radius: 8px;
    padding: var(--gamePadding);
    gap: 25px;
}

.github,.social,.game {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon {
    width: 60px;
    padding: 10px 15px;
}

.icon img {
    width: 30px;
    height: 30px;
}

.social .label,.username {
    line-height: 55px;
    padding: 0 10px;
}

.green-light {
    transform: rotate(45deg);
    top: 70px;
    right: 100px;
    width: 400px;
    height: 0px;
    position: absolute;
    box-shadow: 0 0 200px 40px #43D9AD;
}

.blue-light {
    position: absolute;
    box-shadow: 0 0 180px 60px #4D5BCE;
}

.first {
    transform: rotate(150deg);
    top: 450px;
    right: 250px;
    width: 200px;
    height: 0px;
}

.second {
    transform: rotate(200deg);
    top: 300px;
    right: 0px;
    width: 200px;
    height: 0px;
}

canvas {
    width: 240px;
    height: var(--gameElementHeight);
    background-color: #011627;
    border-radius: 8px;
}

.game-info {
    width: 240px;
    height: var(--gameElementHeight);
}

.bolt {
    position: absolute;
}

.right-template {
    position: relative;
}

.top-left {
    top:60px;
    left: 10px;
}

.top-right {
    top:60px;
    right: 10px;
}

.bottom-left {
    bottom:60px;
    left: 10px;
}

.bottom-right {
    bottom:60px;
    right: 10px;
}

.controls-info {
    background-color: #011423;
    height: 150px;
    border-radius: 8px;
    padding: 10px;
}

.controls-info p {
    color: white;
}

.controls-buttons {
    margin: 10px auto;
    justify-content: center;
    display: grid;
    grid-template-areas: 
    ". up ."
    "left-arrow down right-arrow";
    gap: 10px;
}

.control-button {
    width: 50px;
    height: 30px;
    background-color: black;
    border-radius: 8px;
    color: white;
    text-align: center;
    padding: 2px;
}

.control-button img {
    width: 9px;
    height: 6.5px;
}

.up {
    grid-area: up;
}

.down {
    grid-area: down;
}

.right {
    grid-area: right-arrow;
}

.left {
    grid-area: left-arrow;
}

.food-left {
    margin-top: 15px;
    padding: 10px;
}

.food-left p {
    color: white;
}

.food-counter {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px;
    gap: 20px;
}

.count {
    width: 20px;
    height: 20px;
    background-color: #43D9AD;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #35816b;
}

.eaten {
    background-color: #24745c;
    box-shadow: 0 0 0 4px #33695c;
}

button {
    position: absolute;
    bottom: 25px;
    right: 25px;
    border-radius: 8px;
    width: 60px;
    height: 40px;
    font-size: 14px;
    background: rgba( 255, 255, 255, 0);
    color: white;
    border: white 2px solid;
}

